<!DOCTYPE html>

<html data-useragent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36">
<!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# theplated: http://ogp.me/ns/fb/theplated#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>HealthyFood | Готовьте проще. Питайтесь лучше.</title>
    <meta name="description"
          content="Experience a better way to cook dinner at home with Plated. Choose from chef-designed recipes and get precisely measured ingredients delivered each week.">
    <meta name="keywords"
          content="beef recipes, chicken recipes, quick recipe, easy recipe, quick gourmet meals, fresh food kits, healthy plate kits, plated.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-itunes-app" content="app-id=954364666">
    <link rel="stylesheet" href="/payment/normalize.css">
    <link rel="shortcut icon"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/favicon-efc36b62c8091e1db76e263f3c19522c.ico">
    <link rel="icon" type="image/png"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/favicon-32x32-88184dd4ab14cc7f37dbefbc6a9ec0da.png"
          sizes="32x32">
    <link rel="icon" type="image/png"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/android-chrome-192x192-6b52bdb9d71d614e0c97373610844a02.png"
          sizes="192x192">
    <link rel="icon" type="image/png"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/favicon-96x96-4333d058eb9be5bb7edd35941f556808.png"
          sizes="96x96">
    <link rel="icon" type="image/png"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/favicon-16x16-1feaf5456d6ec50aaa7046e0df2a091c.png"
          sizes="16x16">

    <link rel="apple-touch-icon" sizes="57x57"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-57x57-34d40f9091a47bcabf501bb91ab35603.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-60x60-f6990ec360f1b30772f5f0463edf3888.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-72x72-dfbde59b56d11a574e729f3e5a3a53d4.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-76x76-b50842ed10bd38043a4885a03bd86a85.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-114x114-0e4883d7157043794681d9ba6a79ccd4.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-120x120-4e5afa53abcce254648223eccdacc50f.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-144x144-b8315e0cab32ec613bb34243177ffa9c.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-152x152-948d6ca7a1e12fd85758a047e907c1cc.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/apple-touch-icon-180x180-72f25cf39972a88beaff7e2f669b9c50.png">

    <link rel="manifest"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/manifest-0ec5c0496a380f58b8b79c8c662dbc1a.json">

    <link rel="mask-icon"
          href="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/safari-pinned-tab-179b8021230476ee5de0b54b060794da.svg"
          color="#ff4338">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/mstile-144x144-f9c173c8e2801271d83ae9cffce2da66.png">
    <meta name="msapplication-config"
          content="https://d12q54lcoz7sz0.cloudfront.net/assets/favicon/browserconfig-d703778990a433cf8449d50d9d9a3ae1.xml">
    <meta name="theme-color" content="#ffffff">


    <link href="/payment/pattern_library-01713f2ec141aa982d8068e6276d48ab.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">


    <link href="/payment/haystack-89230238a008c1de6e517d15629f5225.css" media="screen" rel="stylesheet"
          type="text/css">
    <link href="/payment/haystackhome-11bd8bb15a100cf050d7180c7cf1c35e.css" media="screen" rel="stylesheet"
          type="text/css">
    <link href="/payment/home-afdf69153284d6e2b39a95c61fa58d25.css" media="screen" rel="stylesheet"
          type="text/css">
    <link href="/payment/flow-header-footer-55104cbbffd854115a6a615003bccba3.css" media="screen" rel="stylesheet"
          type="text/css">

    <meta property="fb:app_id" content="359267247499647">

    <meta content="authenticity_token" name="csrf-param">
    <meta content="GhmhZTpfHoe5lf3RiNbhe1RRcpODT0faIdCodn3wwG8=" name="csrf-token">
</head>

<body>

<div class="new-flow-header-placeholder"></div>
<header class="new-flow-header">
    <div class="new-flow-header__plated-logo">
        <img alt="Plated_logo" src="/img/healthyfood.png">
    </div>
</header>

<div class="container promocode-wrapper">
    <div class="promo-modal nav-modal">
        <div class="promo-modal-container">
            <div class="promo-modal-inner"><p class="cta">Enter your gift or promo code below.</p>
                <p class="invalid-code-msg hide">We're sorry.<br>This code is invalid. Please check the code and try
                    again.</p>
                <p class="missing-code-msg hide">We're sorry.<br>Looks like you haven't entered a code yet.</p>
                <form accept-charset="UTF-8" action="https://www.plated.com/sf/home/s/3" class="simple_form "
                      data-remote="true" id="promo-code-form" method="post" novalidate="novalidate">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input
                            name="authenticity_token" type="hidden"
                            value="GhmhZTpfHoe5lf3RiNbhe1RRcpODT0faIdCodn3wwG8="></div>
                    <input id="item_type" name="item[type]" type="hidden" value="code"><input id="item_quantity"
                                                                                              name="item[quantity]"
                                                                                              type="hidden" value="1">
                    <div class="input"><input id="item_id" name="item[id]" type="text" value=""><i
                            class="icon-error hide"><span class="path1"></span><span class="path2"></span></i></div>
                    <button class="btn btn--tomato btn-block btn-login" data-async="true" name="button" type="submit">
                        Redeem Code
                    </button>
                </form>
            </div>
            <div class="success-message hide"><h3>You're all set!</h3>
                <p class="success-message-copy"></p><a href="" class="btn btn--tomato btn-block" id="promo-continue">CONTINUE</a>
            </div>
        </div>
    </div>
</div>

<main class="content-row">
    <div class="breadcrumbs four-breadcrumbs">
        <ul>
            <li class="active"><a>Тариф</a></li>
            <li class="active"><a>Доставка</a></li>
            <li class="active"><a>Оплата</a></li>
            <li><a>Детали</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row order-summary">
            <section class="signup-flow payment-info payment-info-container col-xs-12 col-sm-8">
                <section class="signup-flow payment-info">
                    <h4>Детали Оплаты</h4>
                    <!--<i class="fa fa-lock pull-right">-->
                        <!--<span style="text-transform: none;" class="hidden-xs">&nbsp; Защищено</span>-->
                    <!--</i>-->
                    <hr class="main">
                    <p>Для продолжения оформления заказа Вы будете перемещены на страницу платежной системы LiqPay. После успешной оплаты мы вернем Вас на страницу заверешения оформления заказа.</p>
                    <!--<p>Почти готово! Скажите нам пожалуйста какую карту Вы хотите использовать чтобы начать получать еженедельную доставку.</p>-->
                    <form accept-charset="UTF-8" action="https://www.liqpay.com/api/3/checkout" class="simple_form new_completion" id="home-landing-page-payment-profile-form" method="post" novalidate="novalidate">

                        <input type="hidden" name="data" value="{{ data }}"/>
                        <input type="hidden" name="signature" value="{{ signature }}">

                        <!--<p><a class="promo-modal-trigger" href="">Have a gift code?</a></p>-->
                        <div style="display: none;" class="row order-summary visible-xs">
                            <section class="signup-flow order-summary col-xs-12 col-sm-4">
                                <div class="graphic-image plated-delivery hidden-xs"></div>
                                <h4>Order Summary</h4>
                                <hr>
                                <p>Your first delivery is set to arrive on <strong>Friday, April 15th</strong>. </p>
                                <div class="order-details"><h4 class="alternate">Order Details</h4>
                                    <table>
                                        <tbody>
                                        <tr class="subtotal">
                                            <th>3 Dinners x 2 People</th>
                                            <td>$72</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>FREE!</td>
                                        </tr>
                                        <tr class="total">
                                            <th><strong>Today's Total</strong></th>
                                            <td><strong class="total-price">$72</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <br>
                        {#<h4>Детали Подписки</h4>#}
                        {#<hr class="main">#}
                        {#<p class="subscription-details">Нажимая на кнопку ниже, Вы предоставляете нам право автоматически снимать с карты которую Вы предоставляете#}
                            {#72 $(плюс налоги) на еженедельной основе, за исключением недели которую Вы решили пропустить.#}
                            {#Можно пропустить неделю, изменить тарифный план или отменить подписку на шесть дней на странице своей учетной записи#}
                            {#или позвонив 050 733 69 53. Вы также соглашаетесь с правилами, условиями и политикой конфиденциальности.#}
                            {#<br/>#}
                            {#<!--<a href="https://www.plated.com/terms" class="underline modal-trigger" data-modal="terms">Terms&amp; Conditions</a> и <a href="https://www.plated.com/privacy" class="underline modal-trigger" data-modal="privacy">PrivacyPolicy</a>. </p>-->#}
                        {#<br>#}
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn--tomato btn-block" id="landing-page-billing-order-button" name="button" type="submit">Оформить Ваш Заказ</button>
                    </form>
                </section>
            </section>
            <div class="hidden-xs">
                <section class="signup-flow order-summary col-xs-12 col-sm-4">
                    <div class="graphic-image plated-delivery hidden-xs"></div>
                    <h4>Ваш Заказ</h4>
                    <hr>
                    <p>Ваша первая доставка будет на <strong>{{ delivery }}</strong> </p>
                    <div class="order-details"><h4 class="alternate">Детали Заказа</h4>
                        <table>
                            <tbody>
                                {% include '/default/tariff_calculate.html.twig' %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<div class="nav-modal-overlay"></div>
<footer class="new-flow-footer" style="display: none;">
    <ul class="new-flow-footer__legal-items">
        <li class="new-flow-footer__legal-item new-flow-footer__legal-item_monogram">
            <a href="https://www.plated.com/" class="new-flow-footer__monogram-icon"></a>
        </li>
        <li class="new-flow-footer__legal-item"><a href="https://www.plated.com/terms">Terms</a></li>
        <li class="new-flow-footer__legal-item"><a href="https://www.plated.com/privacy">Privacy</a></li>
        <li class="new-flow-footer__legal-item">© 2016</li>
    </ul>
</footer>
<div aria-labelledby="howDoesItWorkModal" class="fade more-about-plated-modal" id="how-does-it-work-modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true"> ×</span></button>
                <div class="modal-image how-does-it-work-image"></div>
                <h4 class="modal-title">How does it work?</h4>
                <hr class="modal-divider">
            </div>
            <div class="modal-body"><p>Each week, choose from any of <strong>9 seasonal recipes</strong>, with the
                option to skip deliveries or cancel as needed.</p>
                <p>Receive <strong>fresh, premium ingredients</strong> in the right portions <strong>delivered to your
                    door</strong> on the day you choose.</p>
                <p>You’ll start with a look at some recommended recipes that you can <strong>swap as you like right
                    after sign up</strong>.</p></div>
        </div>
    </div>
</div>
<div aria-labelledby="whatsInTheFirstBoxModal" class="fade more-about-plated-modal" id="whats-in-the-box" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true"> ×</span></button>
                <div class="modal-image whats-in-the-box-image"></div>
                <h4 class="modal-title">What's in the first box?</h4>
                <hr class="modal-divider">
            </div>
            <div class="modal-body"><h4 class="modal-content-header">Chef-designed Recipes</h4>
                <p>Pick out exactly which meals you’d like and we’ll send you foolproof recipe steps with all the
                    ingredients you need to get cooking! Explore your options right after sign up.</p><h4
                        class="modal-content-header">Premium Ingredients</h4>
                <p>Fresh herbs, seasonal produce, antibiotic-free meats, sustainably caught seafood, small batch
                    specialty items—all pre-portioned so there’s no waste.</p><h4 class="modal-content-header">Packed
                    with Care</h4>
                <p>Our 100% recycled boxes, compostable jute liner, and freezer gel packs are packed by hand to keep
                    everything cool until midnight on your delivery day.</p></div>
        </div>
    </div>
</div>
<div aria-labelledby="whatsOnTheMenuModal" class="fade more-about-plated-modal" id="whats-on-the-menu" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true"> ×</span></button>
                <div class="modal-image whats-on-the-menu-image"></div>
                <h4 class="modal-title">What's on the Menu?</h4>
                <hr class="modal-divider">
            </div>
            <div class="modal-body"><p>Each of our chef-designed menus offer a range of choices: vegetarian options,
                lower calorie counts, gluten-free ingredients, proteins from land and sea, and fresh produce that
                changes with the seasons.</p>
                <p>Every recipe is created to inspire, often drawing from our chefs’ culinary adventures around the
                    world to help you discover what’s possible right here at home. And with 9 new choices every week,
                    there’s always something tasty to look forward to!</p><a class="menus-link"
                                                                             href="https://www.plated.com/menus">See
                    what’s cooking this week<span class="en en-chevron-right"></span></a></div>
        </div>
    </div>
</div>

{#<script type="text/javascript">#}
    {#document.write(unescape("%3Cscript%20src='" + (document.location.protocol == 'https:' ? "https://clicktalecdn.sslcs.cdngc.net/www07/ptc/38e2ccaa-d76f-41f0-bd15-61cee13b0dc3.js" : "http://cdn.clicktale.net/www07/ptc/38e2ccaa-d76f-41f0-bd15-61cee13b0dc3.js") + "'%20type='text/javascript'%3E%3C/script%3E"));#}
{#</script>#}
{#<script src="/payment/38e2ccaa-d76f-41f0-bd15-61cee13b0dc3.js" type="text/javascript"></script>#}
{#<script type="text/javascript" id="">!function (b, e, f, g, a, c, d) {#}
    {#b.fbq || (a = b.fbq = function () {#}
        {#a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)#}
    {#}, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))#}
{#}(window, document, "script", "//connect.facebook.net/en_US/fbevents.js");#}
{#fbq("init", "614284121973835");#}
{#fbq("track", "PageView");</script>#}
{#<noscript>&lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=614284121973835&amp;amp;ev=PageView&amp;amp;noscript=1"&gt;</noscript>#}
{#<script type="text/javascript" id="" src="/payment/oct.js"></script>#}
{#<script type="text/javascript" id="">var ezt = ezt || [];#}
{#(function () {#}
    {#var a = document.createElement("script");#}
    {#a.src = ("https:" == document.location.protocol ? "https://secure" : "http://pixel") + ".quantserve.com/aquant.js?a\x3dp-fTdh1NWkhWdTh";#}
    {#a.async = !0;#}
    {#a.type = "text/javascript";#}
    {#var b = document.getElementsByTagName("script")[0];#}
    {#b.parentNode.insertBefore(a, b)#}
{#})();#}
{#ezt.push({qacct: "p-fTdh1NWkhWdTh", orderid: "", revenue: ""});</script>#}
{#<noscript>#}
    {#&lt;img src="//pixel.quantserve.com/pixel/p-fTdh1NWkhWdTh.gif?labels=_fp.event.Default" style="display: none;"#}
    {#border="0" height="1" width="1" alt="Quantcast"&gt;#}
{#</noscript>#}
{#<script type="text/javascript" id="">(function (a) {#}
    {#var b = document.createElement("script");#}
    {#b.type = "text/javascript";#}
    {#b.async = !0;#}
    {#b.src = "//d1ivexoxmp59q7.cloudfront.net/" + a + "/live.js";#}
    {#a = document.getElementsByTagName("script")[0];#}
    {#a.parentNode.insertBefore(b, a)#}
{#})("plated");</script>#}
{#<script type="text/javascript" id="">var _qevents = _qevents || [];#}
{#(function () {#}
    {#var a = document.createElement("script");#}
    {#a.src = ("https:" == document.location.protocol ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";#}
    {#a.async = !0;#}
    {#a.type = "text/javascript";#}
    {#var b = document.getElementsByTagName("script")[0];#}
    {#b.parentNode.insertBefore(a, b)#}
{#})();#}
{#_qevents.push({qacct: "p-fTdh1NWkhWdTh", labels: "_fp.event.Landing Page"});</script>#}
{#<noscript>#}
    {#&lt;img src="//pixel.quantserve.com/pixel/p-fTdh1NWkhWdTh.gif?labels=_fp.event.Landing+Page" style="display: none;"#}
    {#border="0" height="1" width="1" alt="Quantcast"&gt;#}
{#</noscript>#}
{#<script type="text/javascript" id="">window._tfa = window._tfa || [];#}
{#_tfa.push({notify: "mark", type: "retargeting"});</script>#}
{#<script type="text/javascript" id="" src="/payment/tfa.js"></script>#}
{#<script type="text/javascript" id="">NaN_api = [[75531], ["user", "payment"]];#}
{#(function () {#}
    {#var a = document.createElement("script");#}
    {#a.async = !0;#}
    {#a.src = "//cdn.nanigans.com/NaN_tracker.js";#}
    {#var b = document.getElementsByTagName("head")[0];#}
    {#b.appendChild(a)#}
{#})();</script>#}
{#<div id="ClickTaleDiv" style="display: none;"></div>#}
{#<script src="/payment/WRf4.js" type="text/javascript"></script>#}
{#<script type="text/javascript" id="">twttr.conversion.trackPid("l4gds");</script>#}
{#<noscript>#}
    {#&lt;img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4gds&amp;amp;p_id=Twitter"&gt;#}
    {#&lt;img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4gds&amp;amp;p_id=Twitter"&gt;#}
{#</noscript>#}
{#<script src="/payment/ChangeMonitor-latest.js"></script>#}


{#<div style="display: none; visibility: hidden;">#}
    {#<script>(function (b, c, e, g, d) {#}
        {#var f, a;#}
        {#b[d] = b[d] || [];#}
        {#f = function () {#}
            {#var a = {ti: "5036761"};#}
            {#a.q = b[d];#}
            {#b[d] = new UET(a);#}
            {#b[d].push("pageLoad")#}
        {#};#}
        {#a = c.createElement(e);#}
        {#a.src = g;#}
        {#a.async = 1;#}
        {#a.onload = a.onreadystatechange = function () {#}
            {#var b = this.readyState;#}
            {#b && "loaded" !== b && "complete" !== b || (f(), a.onload = a.onreadystatechange = null)#}
        {#};#}
        {#c = c.getElementsByTagName(e)[0];#}
        {#c.parentNode.insertBefore(a, c)#}
    {#})(window, document, "script", "//bat.bing.com/bat.js", "uetq");</script>#}
    {#<noscript></noscript>#}
{#</div>#}
{#<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.5559922542888671"><img#}
        {#style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.5447312449105084" width="0"#}
        {#height="0" src="/payment/0"><img style="width:0px; height:0px; display:none; visibility:hidden;"#}
                                                {#id="batBeacon0.03554549906402826" width="0" height="0"#}
                                                {#src="/payment/0(1)"></div>#}
</body>
</html>
