<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Поздравляем, Ваш заказ успешно принят в работу!</title>
	<link rel="icon" href="http://healthmarketing.me/wp-content/uploads/2015/12/88-64.png" type="image/x-icon" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style type="text/css">
		html,
		body {
			width: 100%;
			height: 100%;
		}

		body {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			color: #627388;
		}

		h1 {
			font-weight: 700;
		}

		.header {
			display: table;
			position: relative;
			width: 100%;
			height: 100%;
			/*background: url(http://selyutin.com/video-938516/img/bg_header.jpg) no-repeat center center scroll;*/
			background: #fff url('/img/pattern-3.png');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-o-background-size: cover;
		}

		.text-vertical-center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	</style>
</head>

<body>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<br>
			<h1>Здорово! Ваш заказ успешно принят в работу.</h1>
<br>
			<!-- <h3>Ждем Вас в четверг (31 марта) в 19-00.</h3> -->

			<h3>Мы признательны Вам за доверие. <br><br>Поэтому делаем все возможное и невозможное,<br><br> чтобы предоставить Вам лучший сервис доставки наборов еды на дом.</h3>

			{#<h3>До скорой связи! ;)</h3>#}

			<!--<h3 style="text-align: center;">-->
			<!--P.S. Чтобы не забыть, сохраните мероприятие у себя в календаре<br/><br/>-->
			<!--<a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=MjhxNHZkZWluNWI3OXB1OG5hNDQwaXJxdTggYW5kcmV5Ym9sb25pbjE5ODlAbQ&amp;tmsrc=andreybolonin1989%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>-->
			<!--</h3>-->

			<br/>
			<br/>
			<div style="text-align: right; margin-right: 230px;background-color: #fff; float: right; width: 275px;">-- команда thehealthyfood.ru <img width="32" src="http://healthmarketing.me/wp-content/uploads/2015/12/88-64.png" /></div>
		</div>
	</header>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function(d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter34799925 = new Ya.Metrika({
						id: 34799925,
						clickmap: true,
						trackLinks: true,
						accurateTrackBounce: true,
						webvisor: true,
						trackHash: true
					});
				} catch (e) {}
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function() {
					n.parentNode.insertBefore(s, n);
				};
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else {
				f();
			}
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/34799925" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->
</body>

</html>
